.ingredientInfo {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 10px;
  margin-left: 30px;
}

.ingredientInfo__top {
  display: flex;
  flex-direction: column;
}

.ingredientinfo__details {
  display: flex;
  align-items: center;
  margin: 20px;
}

#ingredientHeader {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 60px;
  font-weight: 700;
}

.ingredientSubtitle {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.ingredientInfo__pairs {
  display: flex;
}

#ingredientImage {
  width: 350px;
  height: 350px;
  object-fit: contain;
  margin-right: 80px;
}

.ingredientParagraph {
  font-size: 15px;
  font-weight: 500;
}
.ingredientInfo__best {
  margin-right: 50px;

  padding: 20px;
}

.ingredientInfo__surprise {
  padding: 20px;
}
