.login__input {
  border: none;
  border-bottom: 1px solid rgb(218, 0, 116);
  background-color: black;
  outline: none;
  width: 500px;
  height: 30px;
  font-size: 25px;
  margin: 20px;
  margin-bottom: 40px;
  color: rgb(218, 0, 116);
}

.login__input::placeholder {
  color: rgb(218, 0, 116);
  font-weight: 100;
}

.login__form {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-left: 100px;
  color: rgb(218, 0, 116);
}

.login__button {
  margin: 20px;
}

.login__p {
  margin: 20px;
  color: yellow;
}
