.login__input {
  border: none;
  border-bottom: 1px solid deeppink;
  background-color: black;
  outline: none;
  width: 500px;
  height: 40px;
  font-size: 40px;
  margin: 20px;
  margin-bottom: 40px;
  color: deeppink;
}

.login__input::placeholder {
  color: deeppink;
  font-weight: 100;
}

.login__form {
  display: flex;
  flex-direction: column;
  margin-top: 250px;
  margin-left: 100px;
  color: deeppink;
}

.login__button {
  margin: 20px;
}

.login__p {
  margin: 20px;
  color: yellow;
}
