/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Raleway", sans-serif;
  height: 100vh;
  position: relative;
}
.container {
  height: 100vh;
  position: relative;
  width: 100vw;
}

/*HOME PAGE BASIC CSS*/
.home__container {
  position: relative;
  display: flex;
  bottom: 100px;
  width: 100%;
  margin: 0 auto;
  background-color: black;
  height: 100%;
  z-index: -1;
}

.home__image {
  width: 500px;
  height: 100%;
}

.home__image-container {
  display: flex;
  flex: 1;
  width: fit-content;
  height: 100%;
  margin-right: 100px;
}

.home__text-container {
  position: relative;
  display: flex;
  flex: 7;
  height: 100vh - 100px;
  width: 100%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
}

.home__title {
  color: white;
  font-size: 130px;
  margin-bottom: 30px;
  font-weight: 600;
}
.home__subtitle {
  color: yellow;
  font-size: 30px;
  font-style: italic;
  margin-bottom: 50px;
}

.home__start-button {
  display: flex;
  justify-content: flex-start;
  margin-left: 20%;
  margin-top: 50px;
}

/*PRIMARY PAGE BASIC CSS*/
.primary__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

/*FLAROUR PAIRING PAGE BASIC CSS*/

.flavour-pairing-page__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}
